In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("train.csv")

In [ ]:
df.head(10 )

   ID PREFIX SUFFIX  ...     ZIP HEALTHCARE_EXPENSES HEALTHCARE_COVERAGE
0   1    NaN    NaN  ...  2476.0        1.517539e+05         9316.929057
1   2   Mrs.    NaN  ...  1103.0        1.096723e+05         3545.476208
2   3   Mrs.    NaN  ...     NaN        9.851484e+05         8078.460265
3   4    NaN    NaN  ...     NaN        6.955607e+03          512.371734
4   5    Mr.    NaN  ...     NaN        1.030810e+06         3637.117541
5   6   Mrs.    NaN  ...  2115.0        1.416642e+05         4778.528926
6   7   Mrs.    NaN  ...  1840.0        1.557206e+06         3778.211350
7   8   Mrs.    NaN  ...     NaN        1.133970e+06         8254.534504
8   9    Mr.    NaN  ...     NaN        1.014569e+05         7770.802708
9  10    Mr.    NaN  ...     NaN        1.637572e+06        16999.626920

[10 rows x 14 columns]

In [ ]:
df.describe()

                 ID         ZIP  HEALTHCARE_EXPENSES  HEALTHCARE_COVERAGE
count  15000.000000  7921.00000         1.500000e+04         15000.000000
mean    7500.500000  1905.15945         8.028223e+05          9615.676559
std     4330.271354   492.77688         6.039434e+05         28347.015134
min        1.000000  1001.00000        -5.801077e+04         -2426.575654
25%     3750.750000  1583.00000         1.152892e+05          2574.624010
50%     7500.500000  2081.00000         9.129525e+05          4983.794586
75%    11250.250000  2155.00000         1.362469e+06          9277.467110
max    15000.000000  2861.00000         1.974367e+06        499876.340800

In [ ]:
df.SUFFIX.value_counts()

JD     767
MD     469
PhD    209
Name: SUFFIX, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   15000 non-null  int64
 1   PREFIX               12336 non-null  object
 2   SUFFIX               1445 non-null   object
 3   MARITAL              11411 non-null  object
 4   RACE                 15000 non-null  object
 5   ETHNICITY            15000 non-null  object
 6   GENDER               15000 non-null  object
 7   BIRTHPLACE           15000 non-null  object
 8   CITY                 15000 non-null  object
 9   STATE                15000 non-null  object
 10  COUNTY               15000 non-null  object
 11  ZIP                  7921 non-null   float64
 12  HEALTHCARE_EXPENSES  15000 non-null  float64
 13  HEALTHCARE_COVERAGE  15000 non-null  float64
dtypes: float64(3), int64(1), object(10)
memory usage: 1.6+ MB

In [ ]:
df.nunique()

ID                     15000
PREFIX                     3
SUFFIX                     3
MARITAL                    2
RACE                       5
ETHNICITY                  2
GENDER                     2
BIRTHPLACE               355
CITY                     309
STATE                      1
COUNTY                    14
ZIP                      282
HEALTHCARE_EXPENSES    14999
HEALTHCARE_COVERAGE    15000
dtype: int64

In [ ]:
df.ZIP.value_counts()

1106.0    568
2081.0    371
2135.0    247
1020.0    223
2118.0    136
         ...
1079.0      1
1005.0      1
2462.0      1
1929.0      1
1969.0      1
Name: ZIP, Length: 282, dtype: int64

In [ ]:
pd.crosstab(df.ZIP,df.COUNTY)

COUNTY  Barnstable County  Berkshire County  ...  Suffolk County  Worcester County
ZIP                                          ...
1001.0                  0                 2  ...               5                 2
1005.0                  0                 0  ...               0                 0
1007.0                  0                 1  ...               3                 3
1008.0                  0                 1  ...               0                 0
1009.0                  0                 0  ...               0                 0
...                   ...               ...  ...             ...               ...
2748.0                  1                 1  ...               1                 1
2767.0                  1                 1  ...               2                 2
2780.0                  0                 3  ...               1                 3
2790.0                  0                 1  ...               4                 5
2861.0                  0                 0  ...               2                 2

[282 rows x 13 columns]

In [ ]:
pd.crosstab(df.ZIP,df.CITY)

CITY    Abington  Acton  Acushnet  Adams  ...  Woburn  Worcester  Wrentham  Yarmouth
ZIP                                       ...
1001.0         0      0         0      0  ...       1          0         0         0
1005.0         0      0         0      0  ...       0          0         0         0
1007.0         0      0         0      0  ...       0          0         0         0
1008.0         0      0         0      0  ...       0          0         0         0
1009.0         0      0         0      0  ...       0          0         0         0
...          ...    ...       ...    ...  ...     ...        ...       ...       ...
2748.0         0      0         0      0  ...       0          1         0         0
2767.0         0      0         0      1  ...       0          0         0         1
2780.0         0      0         0      0  ...       0          0         0         0
2790.0         0      0         0      0  ...       0          1         0         0
2861.0         0      0         0      0  ...       0          0         0         0

[282 rows x 303 columns]

In [ ]:
pd.crosstab(df.CITY,df.COUNTY)

COUNTY       Barnstable County  ...  Worcester County
CITY                            ...
Abington                     0  ...                 3
Acton                        3  ...                 7
Acushnet                     0  ...                 2
Adams                        0  ...                 3
Agawam                       3  ...                 8
...                        ...  ...               ...
Woburn                       5  ...                14
Worcester                    6  ...                21
Worthington                  0  ...                 0
Wrentham                     0  ...                 2
Yarmouth                     0  ...                 7

[309 rows x 14 columns]

In [ ]:
df[df.CITY=='Abington']

          ID PREFIX SUFFIX  ...     ZIP HEALTHCARE_EXPENSES HEALTHCARE_COVERAGE
214      215    Mr.    PhD  ...  1420.0        5.624566e+05         3974.077538
541      542    Mr.    NaN  ...     NaN        1.548520e+06         8242.093456
1645    1646    Mr.    PhD  ...     NaN        1.094749e+06         7887.886327
2786    2787    Ms.    NaN  ...     NaN        2.386158e+05          626.409774
3180    3181    Mr.    NaN  ...  2190.0        9.252560e+05         7408.844579
7668    7669    Mr.    NaN  ...  2152.0        5.992443e+04         8755.020354
8058    8059    Mr.    NaN  ...     NaN        1.029415e+06         3728.106576
9386    9387    NaN    NaN  ...  2108.0        8.928127e+04         4575.458012
9651    9652    Ms.     JD  ...  2451.0        8.722372e+04         5837.211921
9673    9674    Mr.    NaN  ...     NaN        1.506661e+06        17139.906660
10005  10006   Mrs.    NaN  ...  2360.0        2.828378e+03         2864.251124
10999  11000   Mrs.     MD  ...  1106.0        1.787750e+06         7246.700592
12549  12550    Mr.     MD  ...     NaN        1.560650e+06         6997.077983
12776  12777    Mr.     JD  ...  1608.0        1.546280e+06         4915.479293
13403  13404    Mr.    NaN  ...     NaN        1.549753e+06        12157.640160
13435  13436   Mrs.    NaN  ...  2135.0        1.049724e+05        11801.556190
13886  13887    Ms.    NaN  ...     NaN        1.171756e+05         8008.297960

[17 rows x 14 columns]

In [ ]:
df.BIRTHPLACE.value_counts()

Boston  Massachusetts  US                    1051
Springfield  Massachusetts  US                612
Beverly  Massachusetts  US                    600
New Bedford  Massachusetts  US                523
Worcester  Massachusetts  US                  512
                                             ...
Rio de Janerio  Rio de Janerio  BR              1
Marseille  Provence-Alpes-Cote d'Azur  FR       1
Heraklion  Heraklion Prefecture  GR             1
Edgartown  Massachusetts  US                    1
Mattapoisett  Massachusetts  US                 1
Name: BIRTHPLACE, Length: 355, dtype: int64

In [ ]:
#making a copy of original dataset
df_tmp = df.copy()

In [ ]:
#dropping columns with least relation with target variable and creating bias
df_tmp.drop(columns=["ID","PREFIX","SUFFIX","ZIP"],inplace=True,axis=1)

In [ ]:
df_tmp

      MARITAL    RACE  ... HEALTHCARE_EXPENSES HEALTHCARE_COVERAGE
0         NaN   white  ...        1.517539e+05         9316.929057
1           M   white  ...        1.096723e+05         3545.476208
2           S   white  ...        9.851484e+05         8078.460265
3         NaN   white  ...        6.955607e+03          512.371734
4           M  native  ...        1.030810e+06         3637.117541
...       ...     ...  ...                 ...                 ...
14995     NaN   white  ...        1.407689e+05         3751.622529
14996     NaN   asian  ...        4.837264e+04         3006.324874
14997       M   black  ...        1.236076e+06         4729.531901
14998       M   white  ...        1.085180e+05         2424.408685
14999       M   white  ...        9.565430e+05         7053.570973

[15000 rows x 10 columns]

In [ ]:
Q1 = df_tmp.HEALTHCARE_COVERAGE.quantile(0.25)
Q3 = df_tmp.HEALTHCARE_COVERAGE.quantile(0.75)
Q1,Q3

(2574.62401025, 9277.467109500001)

In [ ]:
IQR = Q3-Q1
IQR

6702.843099250002

In [ ]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit,upper_limit

(-7479.640638625004, 19331.731758375005)

In [ ]:
df_tmp[(df_tmp.HEALTHCARE_COVERAGE<lower_limit)|(df_tmp.HEALTHCARE_COVERAGE>upper_limit)]

      MARITAL   RACE  ... HEALTHCARE_EXPENSES HEALTHCARE_COVERAGE
11          M  black  ...        1.553703e+06        144149.04710
13          M  white  ...        1.377111e+06         69700.16789
77          M  asian  ...        1.168820e+06         31927.33281
82          S  black  ...        1.631123e+06         26119.02861
93          M  white  ...        1.554923e+06        150983.87910
...       ...    ...  ...                 ...                 ...
14892       M  white  ...        9.122376e+04         20442.04654
14906       M  white  ...        1.159757e+06         25556.31903
14926       M  white  ...        1.685949e+06        445286.72470
14973       S  asian  ...        1.488272e+06         21049.89050
14976       M  black  ...        9.598254e+05        120202.85790

[847 rows x 10 columns]

In [ ]:
df_tmp =df_tmp[(df_tmp.HEALTHCARE_COVERAGE>lower_limit)&(df_tmp.HEALTHCARE_COVERAGE<upper_limit)]

In [ ]:
df_tmp

      MARITAL    RACE  ... HEALTHCARE_EXPENSES HEALTHCARE_COVERAGE
0         NaN   white  ...        1.517539e+05         9316.929057
1           M   white  ...        1.096723e+05         3545.476208
2           S   white  ...        9.851484e+05         8078.460265
3         NaN   white  ...        6.955607e+03          512.371734
4           M  native  ...        1.030810e+06         3637.117541
...       ...     ...  ...                 ...                 ...
14995     NaN   white  ...        1.407689e+05         3751.622529
14996     NaN   asian  ...        4.837264e+04         3006.324874
14997       M   black  ...        1.236076e+06         4729.531901
14998       M   white  ...        1.085180e+05         2424.408685
14999       M   white  ...        9.565430e+05         7053.570973

[14153 rows x 10 columns]

In [ ]:
# turn categorical variables into numbers and fill missing
for label,content in df_tmp.items():
    if not pd.api.types.is_numeric_dtype(content):
        #Turn categories into numbers and add +1
        df_tmp[label] = pd.Categorical(content).codes+1 #taking care of NaN values

In [ ]:
df_tmp

       MARITAL  RACE  ...  HEALTHCARE_EXPENSES  HEALTHCARE_COVERAGE
0            0     5  ...         1.517539e+05          9316.929057
1            1     5  ...         1.096723e+05          3545.476208
2            2     5  ...         9.851484e+05          8078.460265
3            0     5  ...         6.955607e+03           512.371734
4            1     3  ...         1.030810e+06          3637.117541
...        ...   ...  ...                  ...                  ...
14995        0     5  ...         1.407689e+05          3751.622529
14996        0     1  ...         4.837264e+04          3006.324874
14997        1     2  ...         1.236076e+06          4729.531901
14998        1     5  ...         1.085180e+05          2424.408685
14999        1     5  ...         9.565430e+05          7053.570973

[14153 rows x 10 columns]

In [ ]:
df_tmp

       MARITAL  RACE  ...  HEALTHCARE_EXPENSES  HEALTHCARE_COVERAGE
0            0     5  ...         1.517539e+05          9316.929057
1            1     5  ...         1.096723e+05          3545.476208
2            2     5  ...         9.851484e+05          8078.460265
3            0     5  ...         6.955607e+03           512.371734
4            1     3  ...         1.030810e+06          3637.117541
...        ...   ...  ...                  ...                  ...
14995        0     5  ...         1.407689e+05          3751.622529
14996        0     1  ...         4.837264e+04          3006.324874
14997        1     2  ...         1.236076e+06          4729.531901
14998        1     5  ...         1.085180e+05          2424.408685
14999        1     5  ...         9.565430e+05          7053.570973

[14153 rows x 10 columns]

In [ ]:
df_tmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14153 entries, 0 to 14999
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   MARITAL              14153 non-null  int8
 1   RACE                 14153 non-null  int8
 2   ETHNICITY            14153 non-null  int8
 3   GENDER               14153 non-null  int8
 4   BIRTHPLACE           14153 non-null  int16
 5   CITY                 14153 non-null  int16
 6   STATE                14153 non-null  int8
 7   COUNTY               14153 non-null  int8
 8   HEALTHCARE_EXPENSES  14153 non-null  float64
 9   HEALTHCARE_COVERAGE  14153 non-null  float64
dtypes: float64(2), int16(2), int8(6)
memory usage: 469.9 KB

In [ ]:
#splitting the data
X,y = df_tmp.drop("HEALTHCARE_COVERAGE",axis=1),df_tmp["HEALTHCARE_COVERAGE"]

In [ ]:
X

       MARITAL  RACE  ETHNICITY  ...  STATE  COUNTY  HEALTHCARE_EXPENSES
0            0     5          2  ...      1       9         1.517539e+05
1            1     5          1  ...      1       8         1.096723e+05
2            2     5          2  ...      1       9         9.851484e+05
3            0     5          2  ...      1      14         6.955607e+03
4            1     3          2  ...      1       9         1.030810e+06
...        ...   ...        ...  ...    ...     ...                  ...
14995        0     5          2  ...      1      11         1.407689e+05
14996        0     1          2  ...      1       9         4.837264e+04
14997        1     2          2  ...      1      14         1.236076e+06
14998        1     5          2  ...      1      11         1.085180e+05
14999        1     5          2  ...      1      11         9.565430e+05

[14153 rows x 9 columns]

In [ ]:
y

0        9316.929057
1        3545.476208
2        8078.460265
3         512.371734
4        3637.117541
            ...
14995    3751.622529
14996    3006.324874
14997    4729.531901
14998    2424.408685
14999    7053.570973
Name: HEALTHCARE_COVERAGE, Length: 14153, dtype: float64

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [ ]:
scaler.fit(X)

StandardScaler()

In [ ]:
X_train_scaled = scaler.transform(X)

In [ ]:
X_train_scaled

array([[-1.46472156,  0.5696458 ,  0.25529686, ...,  0.        ,
         0.05168517, -1.04379591],
       [ 0.2337794 ,  0.5696458 , -3.91700857, ...,  0.        ,
        -0.21182355, -1.11349011],
       [ 1.93228037,  0.5696458 ,  0.25529686, ...,  0.        ,
         0.05168517,  0.33644577],
       ...,
       [ 0.2337794 , -1.48476608,  0.25529686, ...,  0.        ,
         1.36922875,  0.75202416],
       [ 0.2337794 ,  0.5696458 ,  0.25529686, ...,  0.        ,
         0.5787026 , -1.11540189],
       [ 0.2337794 ,  0.5696458 ,  0.25529686, ...,  0.        ,
         0.5787026 ,  0.28907042]])

In [ ]:
#instantiating a model
from sklearn.ensemble import RandomForestRegressor



model = RandomForestRegressor(n_jobs=-1,
                             random_state=42,
                             )

In [ ]:
model.fit(X_train_scaled,y)

RandomForestRegressor(n_jobs=-1, random_state=42)

In [ ]:
model.score(X_train_scaled,y)

0.8987795320716855

In [ ]:
from sklearn.metrics import mean_squared_error as MSE

In [ ]:
# from sklearn.model_selection import RandomizedSearchCV,GridSearchCV


# # Number of trees in random forest
# n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# # Number of features to consider at every split
# max_features = ['auto', 'sqrt',1,0.5]
# # Maximum number of levels in tree
# max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
# max_depth.append(None)
# # Minimum number of samples required to split a node
# min_samples_split = [2, 5, 10]
# # Minimum number of samples required at each leaf node
# min_samples_leaf = [1, 2, 4]
# # Method of selecting samples for training each tree
# bootstrap = [True, False]
# # Create the random grid
# param_grid = {'n_estimators': n_estimators,
#                'max_features': max_features,
#                'max_depth': max_depth,
#                'min_samples_split': min_samples_split,
#                'min_samples_leaf': min_samples_leaf,
#                'bootstrap': bootstrap}

In [ ]:

# rf = RandomForestRegressor()

# rf_random = RandomizedSearchCV(estimator = rf, param_distributions = param_grid, n_iter = 20, cv = 3, verbose=0, random_state=42, n_jobs = -1)

# rf_random.fit(X_train_scaled,y)

In [ ]:
%%time

#Most ideal Hyperparameters
ideal_model = RandomForestRegressor(n_estimators=2000,
                                 
                                   max_features= 1,
                               
                                   n_jobs=-1,
                                     max_samples= None,
                               
                                   random_state=100,
                                    max_depth =None,
                                   
                                  )
# fit the ideal model
ideal_model.fit(X_train_scaled,y)

CPU times: user 43 s, sys: 2.16 s, total: 45.1 s
Wall time: 23.6 s

In [ ]:
ideal_model.score(X_train_scaled,y)

0.9035171887086917

In [ ]:
preds4 = ideal_model.predict(X_train_scaled)

In [ ]:
rmse4 = np.sqrt(MSE(y,preds4))

In [ ]:
rmse4

1271.4041009374328

In [ ]:
pred_rf_new =ideal_model.predict(X_test_scaled)

In [ ]:
submission =pd.DataFrame({"ID":(i+1 for i in range(4000)),"HEALTHCARE_COVERAGE":pred_rf_new})
submission

        ID  HEALTHCARE_COVERAGE
0        1          2728.326605
1        2          2328.409593
2        3          7347.386995
3        4          2588.465045
4        5          2533.068910
...    ...                  ...
3995  3996          6693.162048
3996  3997          1716.177205
3997  3998          7532.950169
3998  3999          8861.149936
3999  4000          6283.587196

[4000 rows x 2 columns]

In [ ]:
 submission.to_csv("submission_rf_new.csv",index=False)

In [ ]:
# importing test dataset
df_test = pd.read_csv("test.csv",encoding="latin-1")

In [ ]:
df_test.head()

   ID PREFIX SUFFIX  ...             COUNTY     ZIP HEALTHCARE_EXPENSES
0   1    NaN    NaN  ...   Middlesex County  1247.0        977341.80200
1   2    Mr.    NaN  ...   Middlesex County     NaN        683440.03840
2   3   Mrs.    NaN  ...   Middlesex County  1420.0        758751.65560
3   4    Mr.    NaN  ...  Barnstable County  2149.0         79532.07604
4   5    NaN    NaN  ...   Worcester County  1902.0         93806.91339

[5 rows x 13 columns]

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4000 non-null   int64
 1   PREFIX               3264 non-null   object
 2   SUFFIX               392 non-null    object
 3   MARITAL              3015 non-null   object
 4   RACE                 4000 non-null   object
 5   ETHNICITY            4000 non-null   object
 6   GENDER               4000 non-null   object
 7   BIRTHPLACE           4000 non-null   object
 8   CITY                 4000 non-null   object
 9   STATE                4000 non-null   object
 10  COUNTY               4000 non-null   object
 11  ZIP                  2133 non-null   float64
 12  HEALTHCARE_EXPENSES  4000 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 406.4+ KB

In [ ]:
#preprocessing the data
df_test.drop(columns=["ID","ZIP","PREFIX","SUFFIX"],inplace=True,axis=1)

In [ ]:
df_test

     MARITAL   RACE  ...             COUNTY HEALTHCARE_EXPENSES
0        NaN  white  ...   Middlesex County        9.773418e+05
1        NaN  white  ...   Middlesex County        6.834400e+05
2          M  white  ...   Middlesex County        7.587517e+05
3          M  white  ...  Barnstable County        7.953208e+04
4        NaN  white  ...   Worcester County        9.380691e+04
...      ...    ...  ...                ...                 ...
3995       M  white  ...   Middlesex County        1.371954e+06
3996     NaN  white  ...   Middlesex County        2.334527e+05
3997       M  white  ...       Essex County        1.142679e+06
3998       M  white  ...       Essex County        1.394489e+06
3999       M  white  ...   Worcester County        1.528174e+06

[4000 rows x 9 columns]

In [ ]:
# turn categorical variables into numbers and fill missing
for label,content in df_test.items():
    if not pd.api.types.is_numeric_dtype(content):
        #Turn categories into numbers and add +1
        df_test[label] = pd.Categorical(content).codes+1 #taking care of NaN values

In [ ]:
df_test

      MARITAL  RACE  ETHNICITY  ...  STATE  COUNTY  HEALTHCARE_EXPENSES
0           0     5          2  ...      1       9         9.773418e+05
1           0     5          2  ...      1       9         6.834400e+05
2           1     5          2  ...      1       9         7.587517e+05
3           1     5          2  ...      1       1         7.953208e+04
4           0     5          2  ...      1      14         9.380691e+04
...       ...   ...        ...  ...    ...     ...                  ...
3995        1     5          2  ...      1       9         1.371954e+06
3996        0     5          2  ...      1       9         2.334527e+05
3997        1     5          2  ...      1       5         1.142679e+06
3998        1     5          2  ...      1       5         1.394489e+06
3999        1     5          2  ...      1      14         1.528174e+06

[4000 rows x 9 columns]

In [ ]:
#performing scaling of data
scaler.fit(df_test)

StandardScaler()

In [ ]:
X_test_scaled =scaler.transform(df_test)

In [ ]:
X_test_scaled

array([[-1.4716552 ,  0.5765525 ,  0.23598203, ...,  0.        ,
         0.03636902,  0.30177776],
       [-1.4716552 ,  0.5765525 ,  0.23598203, ...,  0.        ,
         0.03636902, -0.18948264],
       [ 0.20305911,  0.5765525 ,  0.23598203, ...,  0.        ,
         0.03636902, -0.06359835],
       ...,
       [ 0.20305911,  0.5765525 ,  0.23598203, ...,  0.        ,
        -1.01022154,  0.57814134],
       [ 0.20305911,  0.5765525 ,  0.23598203, ...,  0.        ,
        -1.01022154,  0.99904377],
       [ 0.20305911,  0.5765525 ,  0.23598203, ...,  0.        ,
         1.34460723,  1.22250116]])

In [ ]:
test_preds = ideal_model.predict(X_test_scaled)

In [ ]:
test_preds

array([2728.32660489, 2328.40959307, 7347.38699498, ..., 7532.95016862,
       8861.14993614, 6283.58719618])

In [ ]:
# !pip install keras-tuner

In [ ]:
# import tensorflow as tf

# from tensorflow import keras
# from tensorflow.keras import layers
# from kerastuner.tuners import RandomSearch

In [ ]:
# normalizer = tf.keras.layers.Normalization(axis=-1)

In [ ]:
#  model = keras.Sequential([
#       normalizer,
#        layers.Dense(64, activation='relu'),
#         layers.Dense(64, activation='relu'),
#       layers.Dense(1)
#   ])

In [ ]:
# input_shape =X_train_scaled.shape

In [ ]:
# model.build(input_shape)

In [ ]:
# model.compile(loss='mean_absolute_error',
#                 optimizer=tf.keras.optimizers.Adam(0.001),
#                metrics=['accuracy'])

In [ ]:
# model.summary()

In [ ]:
# model.fit(
#     X_train_scaled,
#     y,
#     validation_split=0.2,
#     verbose=0, epochs=100)

In [ ]:
#Most ideal Hyperparameters
try_model = RandomForestRegressor(n_estimators=2000,
                               
                                   n_jobs=-1,
                                     max_samples= None,
                                  max_features=1,
                               
                                   random_state=100,
                                    max_depth =None,
                                   
                                  )
# fit the ideal model
try_model.fit(X_train_scaled,y)

RandomForestRegressor(max_features=1, n_estimators=2000, n_jobs=-1,
                      random_state=100)

In [ ]:
# def build_model(hp):
#   model = keras.Sequential()
#   for i in range(hp.Int("num_layers",2,20)):
#     model.add(layers.Dense(units=hp.Int('units_' +str(i),
#                                         min_value=32,
#                                         max_value=512,
#                                         step=32),
#                            activation ="relu"))
#     model.add(layers.Dense(1,activation='linear'))
#     model.compile(
#         optimizer = keras.optimizers.Adam(
#             hp.Choice('learning_rate',[1e-2,1e-3,1e-4])
#         ),
#         loss = "mean_absolute_error",
#         metrics=["mean_absolute_error"])
#     return model

In [ ]:
# tuner = RandomSearch(
#     build_model,
#     objective="val_mean_absolute_error",
#     max_trials = 5,
#     executions_per_trial =3,
#     project_name="health_care_coverage"
# )

In [ ]:
# tuner.search_space_summary()

Search space summary
Default search space size: 3
num_layers (Int)
{'default': None, 'conditions': [], 'min_value': 2, 'max_value': 20, 'step': 1, 'sampling': None}
units_0 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
learning_rate (Choice)
{'default': 0.01, 'conditions': [], 'values': [0.01, 0.001, 0.0001], 'ordered': True}

In [ ]:
# from sklearn.model_selection import train_test_split
# X_train,X_test,y_train,y_test = train_test_split(X_train_scaled,y,test_size=0.3)

In [ ]:
# tuner.search(X_train,y_train,
#              epochs=5,
#              validation_data = (X_test,y_test))

Trial 5 Complete [00h 00m 15s]
val_mean_absolute_error: 7861.335774739583

Best val_mean_absolute_error So Far: 7861.335774739583
Total elapsed time: 00h 01m 19s
INFO:tensorflow:Oracle triggered exit

In [ ]:
# tuner.results_summary()

Results summary
Results in ./health_care_coverage
Showing 10 best trials
Objective(name='val_mean_absolute_error', direction='min')
Trial summary
Hyperparameters:
num_layers: 20
units_0: 352
learning_rate: 0.001
Score: 7861.335774739583
Trial summary
Hyperparameters:
num_layers: 4
units_0: 288
learning_rate: 0.001
Score: 8173.345865885417
Trial summary
Hyperparameters:
num_layers: 11
units_0: 192
learning_rate: 0.001
Score: 8704.717447916666
Trial summary
Hyperparameters:
num_layers: 8
units_0: 224
learning_rate: 0.0001
Score: 9928.2646484375
Trial summary
Hyperparameters:
num_layers: 7
units_0: 128
learning_rate: 0.0001
Score: 9934.344401041666

In [ ]:
#  model = keras.Sequential([
#        layers.Dense(10,activation='relu'),
#        layers.Dense(352, activation='relu'),
#         layers.Dense(288, activation='relu'),
#         layers.Dense(288, activation='relu'),
#       layers.Dense(1,activation='linear')
#   ])

In [ ]:
# input_shape =X_train_scaled.shape

In [ ]:
# model.build(input_shape)

In [ ]:
# model.compile(loss='mean_absolute_error',
#                 optimizer=tf.keras.optimizers.Adam(0.001),
#                metrics=['accuracy'])

AttributeError: ignored

In [ ]:
# model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (15000, 10)               130

 dense_3 (Dense)             (15000, 352)              3872

 dense_4 (Dense)             (15000, 288)              101664

 dense_5 (Dense)             (15000, 288)              83232

 dense_6 (Dense)             (15000, 1)                289

=================================================================
Total params: 189,187
Trainable params: 189,187
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# model.fit(
#     X_train_scaled,
#     y,
#     validation_split=0.2,
#     verbose=0, epochs=10)

In [ ]:
# preds=model.predict(X_train_scaled)

In [ ]:
# rmse4 = np.sqrt(MSE(y,preds))

In [ ]:
# rmse4

28335.49793201799